<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Login</title>
  <link rel="stylesheet" href="../static/styles/login.css">



</head>

<body>

  <div class="login-container">
    <div class="login-wrapper">
      <div class="login-content">
        <div class="login-form-column">
          <form class="login-form" method="POST">
            <div class="welcome-section">
              <img
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/9831dd9e21ecb44e4bcae173a008c53e0d7df0a7001a44f6c409f3b048cf9b92?placeholderIfAbsent=true&apiKey=8d4d4704581247888cfc59a175a97186"
                alt="Company logo" class="logo">
              <h1 class="welcome-text">WELCOME</h1>
            </div>
            <label for="username" class="input-label">Username</label>
            <input type="text" id="username" name="username" class="input-field" required>
            <label for="password" class="input-label">Password</label>
            <input type="password" id="password" name="password" class="input-field" required>

            <button type="submit" class="register-button">LOGIN</button>
            <p class="mt-3">Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
          </form>
        </div>



      </div>

      <div class="login-image-column">
        <div class="login-image" role="img" aria-label="Decorative login image"></div>
        <div class="image-container">
          <img loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/fe8e8ba5efaf2ac8f329b0180aa3846bfe79b4e30a8bb83845ab347dab50139c?placeholderIfAbsent=true&apiKey=8d4d4704581247888cfc59a175a97186"
            alt="" class="responsive-image" />
        </div>
        <div class="image-containerman">
          <img loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/4b2b286823f58d2235c9bd29b2cb62e98db77c6e2d14b30ddd1528d01088928c?placeholderIfAbsent=true&apiKey=8d4d4704581247888cfc59a175a97186"
            class="responsive-imageman" alt="Description of the image" />
        </div>
      </div>

    </div>
  </div>
  </div>
  </div>


  </div>




  <!-- <div class="container">
        <h2 class="mt-5"> WELCOME </h2>
        <form method="POST" class="mt-3">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p class="mt-3">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
    </div>  -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>