<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Railway Register</title>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">

</head>

<body>

<div class="container">

    <!-- LEFT TRAIN -->
    <div class="left-panel">
        <div class="brand-text">
            RAILWAY <br> RailConnect Grievance Portal
        </div>
    </div>

    <!-- RIGHT REGISTER -->
    <div class="right-panel">
        <form class="login-box" method="POST">

            <h2>Register</h2>

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <select id="role" name="role" required onchange="toggleDepartmentField()">
                <option value="" disabled selected>Select Role</option>
                <option value="User">User</option>
                <option value="Admin">Admin</option>
                <option value="Employee">Employee</option>
            </select>

            <div id="departmentGroup" style="display:none;">
                <select id="department" name="department">
                    <option value="" disabled selected>Select Department</option>
                    <option value="Ticket Booking">Ticket Booking</option>
                    <option value="Passenger Services">Passenger Services</option>
                    <option value="Lost and Found">Lost and Found</option>
                    <option value="Complaints">Complaints</option>
                    <option value="Safety and Security">Safety and Security</option>
                    <option value="Train Operations">Train Operations</option>
                    <option value="Cleaning and Maintenance">Cleaning and Maintenance</option>
                    <option value="Food Services">Food Services</option>
                    <option value="Reservation">Reservation</option>
                    <option value="Customer Support">Customer Support</option>
                </select>
            </div>

            <button type="submit">REGISTER</button>

            <p>Already have account?
            <a href="{{ url_for('login') }}">Login</a></p>

        </form>
    </div>

</div>

<script>
function toggleDepartmentField() {
    const role = document.getElementById("role").value;
    const dept = document.getElementById("departmentGroup");

    if (role === "Admin" || role === "Employee") {
        dept.style.display = "block";
        document.getElementById("department").required = true;
    } else {
        dept.style.display = "none";
        document.getElementById("department").required = false;
    }
}
</script>

</body>
</html>
