body, html {
  margin: 0;
  padding: 0;
  font-family: 'Instrument Sans', sans-serif;
  height: 100%;
}
.login-container {
  display: flex;
  
  overflow: hidden;
  
}



.login-wrapper {
  background-color: #00523f;
  width: 100%;
  display: flex;
  height: 100%;
}
.login-content {
  display: flex;
  width: 100%;
}
.login-form-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ensure items align to the start */
  justify-content: flex-start; /* Stack items from the top */
  width: 750px;
  padding: 40px 40px 40px 130px;
  height: 100vh;
  margin-bottom: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  margin-left: 50px;
  height: 50rem;
   /* Restrict form width */
  width: 350px;
padding-bottom: 110px;
margin-bottom: 100px;
}
.welcome-section {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  margin-bottom: 0px;
  margin-left: 23px;
  align-items: center; 
}
.logo {
  width: 220px;
  max-width: 100%;
  height: auto;
  padding: 10px;
  height: 10vh;
}
.welcome-text {
  margin: 15px 0 0 20px;
}
.input-label {
  align-self: flex-start;
  margin-top: 10px;
}
.input-field {
  background: transparent;
  border: none;
  border-bottom: 3px solid #ffc42a;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
}
.input-field:focus {
  outline: none;
  border-bottom-color: #fff;
}
.register-button {
  background-color: #ffc42a;
  border: none;
  border-radius: 10px;
  color: #00523f;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  margin-top: 25px;
  padding: 18px 25px;
  align-self: normal;
  height: 60px;
  margin-bottom: 5px;
}
.login-image-column {
  width: 40%;
  background-color: #ffc42a;
  border-radius: 40%;
}
.image-container img {
  width: 180px;
  margin-left: 50px;
  height: 130px;
  width: 130px;
}
.image-containerman img {
  width: 600px;
  margin-left: 80px;
}

@media (max-width: 991px) {
  .login-wrapper {
    flex-direction: column;
  }
  .login-content {
    flex-direction: column;
  }
  .login-form-column {
    width: 100%;
    padding: 30px 20px;
  }
  .welcome-section {
    font-size: 36px;
  }
  .logo {
    width: 200px;
  }
  .login-image-column {
    width: 100%;
    height: 250px;
  }
}










.role-select {
  margin-top: 10px;
  position: relative;
}
.select-field {
  appearance: none;
  background: transparent;
  border: none;
  color: #ffc42a;
  font-size: 18px;
  width: 100%;
  padding-right: 20px;
}
.select-wrapper {
  background-color: #4a8677;
  border: 1px solid #ffc42a;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}