.container{
    display:flex;
    height:100vh;
}

.left-panel{
    width:65%;
    background:url("https://images.pexels.com/photos/7286403/pexels-photo-7286403.jpeg") center/cover;
    position:relative;
}

.left-panel::before{
    content:"";
    position:absolute;
    width:200px;
    height:100%;
    background:#ff6b00;
    opacity:0.8;
}

.brand-text{
    position:absolute;
    left:60px;
    top:40%;
    color:white;
    font-size:60px;
    font-weight:bold;
}

.right-panel{
    width:35%;
    background:#1e1e1e;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:80%;
}

input, select{
    width:100%;
    padding:12px;
    margin:10px 0;
    background:transparent;
    border:1px solid #ff6b00;
    color:rgb(212, 67, 14);
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    background:#ff6b00;
    border:none;
    color:white;
    font-weight:bold;
}

button:hover{
    background:#ff8c33;
}

a{
    color:#ff6b00;
}
